@-webkit-keyframes up {
    from { background-position:-68px -68px; }
    to { background-position:-203px -68px; }
}
@keyframes up {
    from { background-position:-68px -68px; }
    to { background-position:-203px -68px; }
}

@-webkit-keyframes down {
    from { background-position:-68px 0px; }
    to { background-position:-203px 0px; }
}
@keyframes down {
    from { background-position:-68px 0px; }
    to { background-position:-203px 0px; }
}

@-webkit-keyframes left {
    from { background-position:-68px -204px; }
    to { background-position:-256px -204px; }
}
@keyframes left {
    from {background-position: -68px -204px;}
    to {background-position: -203px -204px;}
}

@-webkit-keyframes right {
    from { background-position:-68px -136px; }
    to { background-position:-203px -136px; }
}
@keyframes right {
    from {background-position: -68px -136px;}
    to {background-position: -203px -136px;}
}
